#PYTHON DATA SCIENCE ASSIGNMENT

1. What are data structures, and why are they important?
  - Data structures are special format to organise , manage
   and store data . Data structures allows several operations like inserting new data , deleting data, updating data and traversing in it.
  - They are important to store data in an organised way that is efficient for data analysis as well as for data manipulation.
2.  Explain the difference between mutable and immutable data types with examples .
  - Mutable data types are those data structures that allow data upadation once it has been created . some example of mutable data types are lists and dictionaries.
  - Immutable data types are those that dont allow data updation after it has been created once . Some example of immutable data types are tuples , srtings, integers , etc..
3. What are the main differences between lists and tuples in Python?
  - Lists aand tuples are basically same in python but the only difference between them is that tuples cannot be update after they have been created and can be only traversed in .. Or in technical terms we can say that tuples are immutable and lists are mutable.
4.  Describe how dictionaries store data ?
  - Dictionary is  a special data type in python that stores data in key value pair format. This mean that each key has a value associated with it .  eg. dictionary={key:value} .
5. Why might you use a set instead of a list in Python?
  - A set is a data type in python that stores data in unordered manner.. It means that we cannot access data through its index.
  A special property of set is that it doesnt store copies of data and hence all elements in the set are unique which isnt the same in lists .
6.  What is a string in Python, and how is it different from a list?
  - Strings in python is a data type that is immutable and stores data as text enclosed in quotes "" .
  - Lists  is a data type that stores data of every type in it.. which basically mean that we can store string , integer , bollean, float .etc types of values in the same list . Also the list is a mutable data type which means that we can manupulate data.
7. How do tuples ensure data integrity in Python ?
 - Tuple is  a data type that is immutable in python hence whichever data is stored in it once, it cannot be manipulated with and hence ensures data integrity.
8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (or hash code) for each key, determining where the value associated with that key will be stored in memory.
 - In python the keys of the dictionary are hased and hence only hashable types of data like integeres , strings , tuples can be stored in the key which are immutabe data type.
9.  Can lists contain different data types in Python?
- Yes, list is a data type in python that can store any type of data in it .
- The data can be mutable and immutable as well .
10. Explain why strings are immutable in Python
 - Python uses a technique called string interning, where certain strings are stored only once in memory and reused to save space.
 - Also if strings were mutable, modifying one string would affect all references to that string, which could lead to unexpected behavior and memory inconsistencies.
11. What advantages do dictionaries offer over lists for certain tasks ?
 - Dictionaries help us to store data in key value pair which helps in specific scenarios . Unlike list where there is no such thing as key value pair .
 - Hence if we need to associate one data with other , it is possible in dictionary .
12.   Describe a scenario where using a tuple would be preferable over a list
 - Imagine you want to save permanent data  of users . Doing so in list isnt preferable in list as anyone can change it later . hence tuples can be used which will help to save it as it is immutable data type .
13. How do sets handle duplicate values in Python?
 - sets automatically handle duplicate values by ensuring that each element in the set is unique. When you attempt to add a duplicate value to a set, it is silently ignored, and the set remains unchanged.
 - Each element's hash value is computed using Python's hash() function .  If an element with the same hash value already exists in the set, the new value is not added, effectively preventing duplicates.
14. How does the “in” keyword work differently for lists and dictionaries ?
 - When you use in with a list, Python checks whether a specific value exists anywhere within the list. Whereas ,
 - When you use in with a dictionary, Python checks for the presence of a key, not a value. It does not check within the dictionary's values unless explicitly specified.
15. Can you modify the elements of a tuple? Explain why or why not ?
 - No, we cannot modify elements in a tuple because it is a immutable data type in python . It mean it has been coded in a way that it wont allow data manipulation .
16. What is a nested dictionary, and give an example of its use case ?
 - A nested dictionary means that another dictionary is used in the position of value pair .
 - A simple example is that if we want to store personal details of mutiple people we can store keys as person1 , person2 , etc and values will be the data belinging to that key .
17.  Describe the time complexity of accessing elements in a dictionary
 - The time complexity of accessing an element by key in a dictionary is typically done in constant time, O(1), under normal conditions. This is because the hash table allows for direct indexing of the key, which minimizes the number of operations needed.
18. In what situations are lists preferred over dictionaries ?
 - lists and dictionaries are made for different purpose .. using list is preferable for storing data that is without association .
 - When you need to access elements by their index or need to loop through items in a specific sequence, a list is more appropriate.
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
 - In earlier versions of Python ( Python 3.7), dictionaries were considered unordered because they did not guarantee that the order of key-value pairs would be preserved. This means that when you iterated over a dictionary or retrieved its items, the order of the elements was not predictable.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - In lists we retrieve data by its index . As the lists store data in sequential ordered manner.
 - Whereas in dictionary data is retrieved either using key or value . and using key to retrieve is more prefered and also is logical .

In [ ]:
#1. Write a code to create a string with your name and print it
name = "Hariom Khete"
print (name)

Hariom Khete

In [ ]:
#2.  Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [ ]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list1= [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1 = ['a','b','c','d']
print(list1[1])

b

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]
list1 = [10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple1 = (10,20,30)
print(tuple1)

(10, 20, 30)

In [ ]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple1 = ('apple','banana','cherry')
print(tuple1[0])

apple

In [ ]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple1 = (1,2,3,2,4,2)
print(tuple1.count(2))

3

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple1 = ('dog','cat','rabbit')
print(tuple1.index('cat'))

1

In [ ]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple1 = ('apple','orange','banana')
print('banana' in tuple1)

True

In [ ]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}
set1 = {1,2,3,4}
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [ ]:
#18.  Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple1 = (10,20,30)
print(tuple1)

In [ ]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple1 = ('apple','banana','cherry')
print(tuple1[0])

In [ ]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple1 = (1,2,3,2,4,2)
print(tuple1.count(2))

In [ ]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple1 = ('dog','cat','rabbit')
print(tuple1.index('cat'))

In [ ]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple1 = ('apple','orange','banana')
print('banana' in tuple1)

In [ ]:
#23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set1 = {1,2,3,4,5}
print(set1)

In [ ]:
#24 . Write a code to add the element 6 to the set {1, 2, 3, 4}
set1 = {1,2,3,4}
set1.add(6)
print(set1)